body {
  background-color: #141218;
  font-family: Roboto;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url("/The_Witcher_PromoPage/img/background.jpg");
  background-repeat: no-repeat;
  background-position: top right 20%;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 60px;
  margin-bottom: 90px;
}

.menu-list {
  margin-right: auto;
  margin-left: 67px;
}

.menu-link {
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #FFFFFF;
  margin-right: 24px;
}

.social-link {
  margin-left: 20px;
  text-decoration: none;
}

.genre {
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.rating-number {
  font-size: 12px;
  line-height: 14px;
  margin-left: 9px;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 85px;
}

.main-title {
  font-size: 76px;
  line-height: 89px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.main-description {
  max-width: 458px;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
  margin-bottom: 40px;
}

.button {
  background: #9D2929;
  border-radius: 8px;
  color: #ffffff;
  border: none;
  padding: 22px 72px;
}

.play {
  background: #9D2929;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  position: relative;
  margin: auto;
}

.play:before {
  content: '';
  width: 132px;
  height: 132px;
  background: #9D2929;
  opacity: 0.5;
  position: absolute;
  border-radius: 50%;
  left: -16px;
  top: -16px;
}

.play-img {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.series {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.card {
  width: 164px;
  height: 113px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 13px;
  color: #fff;
  margin-right: 30px;
}

.card-subtitle {
  font-size: 10px;
  line-height: 12px;
  margin-bottom: 2px;
}

.card-title {
  font-size: 14px;
  line-height: 16px;
}

.series-1 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 18, 24, 0.5)), to(#2D2D2D)), url("/The_Witcher_PromoPage/img/series/series-1.jpg");
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url("/The_Witcher_PromoPage/img/series/series-1.jpg");
}

.series-2 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 18, 24, 0.5)), to(#2D2D2D)), url("/The_Witcher_PromoPage/img/series/series-2.jpg");
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url("/The_Witcher_PromoPage/img/series/series-2.jpg");
}

.arrow {
  width: 32px;
  height: 32px;
  border: none;
  background-image: url("/The_Witcher_PromoPage/img/series/arrow.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
}

.footer {
  background-color: #141218;
  padding: 20px 0;
  margin-top: auto;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-link {
  text-decoration: none;
  color: #727174;
}

.footer-copyright {
  color: #727174;
}
/*# sourceMappingURL=style.css.map */